@(animalForm : Form[Animal]) @main("") {
<div class="container">
	<h2>Novo animal</h2>
	<br>
	<div class="col-md-4">
		@helper.form(action = routes.AnimaisController.save) {
			@helper.input(animalForm("nome")) { (id, name, value, args) =>
            	<input type="text" value="@value" class="form-control" placeholder="Nome" name="@name" id="@id" @toHtmlArgs(args)>
            }
			<br> 
			@helper.input(animalForm("identificacao")) { (id, name, value, args) =>
				<input type="text" value="@value" class="form-control" placeholder="Identificação" name="@name" id="@id" @toHtmlArgs(args)>
			}
			@helper.select(animalForm("raca.id"), helper.options(models.Raca.listarRacas), 'class -> "form-control")
			<br>
			@helper.checkbox(animalForm("ativo"))
			
			<br> 
			@helper.checkbox(animalForm("emLactacao"))
			
			<br>
			@helper.checkbox(animalForm("nascidoNaPropriedade")) 
			<br> 
			@helper.textarea(field = animalForm("informacoes"), args = 'rows -> 3, 'cols -> 50)
			<br> 
			<input class="btn btn-large btn-success" type="submit" value="Cadastrar animal" />
		}
	</div>
</div>
}