@(pesagemForm : Form[Pesagem]) @main("Nova pesagem") {
<div class="container">
	<h2>Nova pesagem</h2>
	<br>
	<div class="col-md-4">
		@helper.form(action = routes.PesagensController.save) {
			@helper.select(pesagemForm("animal.id"), helper.options(models.Animal.listarAnimais), 'class -> "form-control")
			<br>
			@helper.input(pesagemForm("peso")) { (id, name, value, args) =>
            	<input type="number" value="@value" class="form-control" placeholder="peso" name="@name" id="@id" @toHtmlArgs(args)>
            }
            @helper.select(pesagemForm("unidade.id"), helper.options(models.Unidade.listarUnidades), 'class -> "form-control")
            <br>
			<input class="btn btn-large btn-success" type="submit" value="Cadastrar pesagem" />
		}
	</div>
</div>
}